.header {
    background: $accent;
    width: 100%;
}


.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}


.header-logo {
    font-size: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}